---
title: "Codes"
layout: default
excerpt: "AmygdalaAI-India Lab -- Publications."
sitemap: false
permalink: /codes/
---

<h2>Codes & Datasets</h2>

<ul class="bibliography">
  {% for entry in site.data.codes %}
    <li>
      <span class="title">{{ entry.title }}</span><br>
      <span class="abstract">{{ entry.description }}</span><br>
      <span class="source"><strong>Code:</strong> <a href="{{ entry.github }}" target="_blank">{{ entry.github }}</a></span><br>

      {% if entry.dataset %}
        <span class="dataset"><strong>Dataset:</strong> 
          <a href="{{ entry.dataset.link }}" target="_blank">{{ entry.dataset.name }}</a>
        </span><br>
      {% endif %}

    </li>
  {% endfor %}
</ul>
