<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>{{ site.title }}</p>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/amygdala-logo-light.png"
				     style="max-width: 200px; max-height: 100px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/cserajdeep">github/cse.rajdeep</a></li>
					<li><a href="https://www.amygdalaai.org/">Amygdala AI Munich</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p>Bhubaneswar - 751024</p>
				<p>Odisha, India</p>
			</div>
		</div>

		<div class="row mt-3">
		  <p style="display: flex; justify-content: center; align-items: center; position: relative;">
  <span style="margin: 0 auto;">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All Rights Reserved</span>
  <span style="position: absolute; right: 0;">
    <a href="https://www.hitwebcounter.com" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=21344450&style=0006&nbdigits=5&type=page&initCount=1637" 
           title="Counter Widget" 
           alt="Visit counter For Websites" 
           style="border: 0;" />
    	</a>
  		</span>
		</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
